@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Choose a Date for Pick Up</h4>
@using (Html.BeginForm("Index", "Schedule", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4 mb-3">
            <label for="pickUpDate">Pick Up Date</label>
            <input type="text" class="form-control" id="pickUpDate" required>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="alert alert-info" role="alert">
                <ul class="list-unstyled mb-0">
                    <li>
                        Pick Up Times
                        <ul>
                            <li>Fridays; 4:00 PM to 7:00 PM</li>
                            <li>Saturdays; 10:00 AM to 2:00 PM</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#pickUpDate").datepicker({
                minDate: 0,
                maxDate: "+3M",
                beforeShowDay: function (date) {
                    return [date.getDay() == 5 || date.getDay() == 6];
                }
            });
        });
    </script>
}